@import url("theme.css");

.wy-side-nav-search, .wy-nav-top {
    background: #f5f5f5;
}

.wy-side-nav-search>a img.logo, .wy-side-nav-search .wy-dropdown>a img.logo {
    max-width: 60%;
}

.wy-side-nav-search>div.version {
  color: dimgray;
}
